%tr
  %td= type.description
  %td.align-center= link_to 'Edit', edit_type_path(type), class: "button warning margin-0"
  %td.align-center= link_to 'Destroy', type, method: :delete, class: "button alert margin-0"