// Place all the styles related to the types controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.actions {
  input {
    color: white;
    background-color: green;
    min-width: 35px;
    min-height: 40px;
  }
}
